.container-layout{
            display: flex;
            min-height: 100vh;
    }

.container-div{
        width: 15%;
        min-height: 600px;
        background-color: #1c2c3c ;
        padding-left: 1.25rem/* 20px */;
        padding-right: 1.25rem/* 20px */;
        padding-top: 2.5rem/* 40px */;
        padding-bottom: 2.5rem/* 40px */;
        border-bottom-right-radius: 110px;
        
}

h2{
        font-size: 26px;
        line-height: 2rem/* 32px */;
        font-weight: 900;
        text-align: center;
        color: white;
    }
    .link{
        display: block;
        margin-top: 3px;
        color: white;
        font-size: 18px;
        line-height: 2rem/* 32px */;
        text-decoration: none;
    
}
.link:hover{
    
    color:  #245c84;
    transition: color .5s;
}

.nav{
    margin-top: 2.5rem/* 40px */;
}

.outlet{
    width: 85%;
    padding: 0 40px;
}