h1{
    font-size: 28px;
    line-height: 2.5rem/* 40px */;
    color: #1c2c3c;
    font-weight: 900;
}

p{
     padding: 0;
}

 

.info-factura{
    display: flex;
    justify-content: space-between;
}